# Dependencies
**/node_modules

# Environment variables
.env
backend/.env
frontend/.env

# Build folders
frontend/build
frontend/dist

# Logs
*.log

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local