node_modules/
**/node_modules/

.env
backend/.env
frontend/.env

build/
dist/
frontend/build/
frontend/dist/
backend/build/
backend/dist/

*.log
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local